.CM-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 2rem;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    color: rgba(239, 239, 239, 1);
  }
  .CM-tri {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .CM-title {
    display: flex;
    margin: auto;  
    color: rgba(29, 136, 146, 1);
    font-size: 3.5rem;
    margin-bottom: 2rem;
    text-decoration: underline;
    text-decoration-color: rgba(249, 173, 66, 1);
    text-underline-offset: 0.8rem;
  }
  
  .CM-image-grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  .CM-image-grid img {
    margin-bottom: 1rem;
  }
  
  .CM-manufacturing-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .CM-description {
    width: 90%;
    margin: auto;
    font-size: 1.1rem;
    line-height: 1.6;
    color: black;
    margin-bottom: 40px;
    text-align: justify;
  }
  
  .CM-services-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 2rem;
    margin-top: 20px;
  }
  
  
  .CM-section-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  
  /* .CM-service-list {
    list-style: none;
    padding: 0;
    margin: 0;
  } */
  
  .CM-service-item {
    color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 400;
  }
  
  .CM-checkmark {
    color: #f4a261;
    margin-right: 10px;
    font-size: 1.2rem;
  }
  
  @media (max-width: 1160px) {

    .CM-services-container {
      justify-content:left;
    }
    
  }
  @media (max-width: 768px) {
    
    .CM-image-grid  img{
      margin-bottom: 1rem;
    }
    
    .CM-title {
      font-size: 2rem;
    }
    
    .CM-section-title {
      font-size: 1.3rem;
    }
    
    .CM-service-item {
      font-size: 0.95rem;
    }
    
    .CM-container {
      padding: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .CM-title {
      font-size: 1.8rem;
    }
    
    .CM-description {
      font-size: 1rem;
    }
    
    .CM-service-section {
      padding: 15px;
    }
  }