.tech-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin-bottom: 4rem;
  }

  .tech-title {
    color: #0D9488;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 35px;
    text-align: justify;
    text-decoration: underline;
    text-decoration-color: #FB923C;
    text-underline-offset: 1rem;
  }
  .intro-text {
    text-align: justify;
    font-size: 1.3rem;
    line-height: 1.3;
    margin-bottom: 30px;
  }

  .category-section {
    margin-bottom: 30px;
  }

  .category-section p{
    text-align: justify;
    font-size: 1.3rem;
  }

  .category-title {
    color: #FB923C;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .product-list {
    text-align: justify;
    font-size: 1.3rem;
    list-style-type: decimal;
    margin-left: 20px;
    margin-top: 10px;
  }

  .product-list li {
    margin-bottom: 5px;
  }

  .equipment-grid {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .equipment-item{
    display: flex;
    gap: 40px;
    text-align: justify;
    align-items: last baseline;
    background: #fff;
  }

  .equipment-details h3{
    color: #FB923C;
    font-weight: bold;
    font-size: 2.2rem;
  }

  .equipment-item p{
     line-height: 1.2;
    font-size: 1.3rem;
  }
    

  .equipment-item:nth-child(even) {
    text-align: right;
    flex-direction: row-reverse;
  }

  .boldClass{
    font-weight: bold;
  }

  .equipment-image {
    width: 500px;
    height: 303px;
    object-fit: cover;
    border-radius: 4px;
  }
  

  .equipment-details {
    flex: 1;
  }

 
  .equipment-details ul {
    line-height: 1.2;
    font-size: 1.3rem;
    list-style: disc;
    padding-left: 20px;
  }

  @media (max-width: 768px) {
    .equipment-item,
    .equipment-item:nth-child(even) {
      flex-direction: column;
    }

    .equipment-image {
      width: 100%;
      height: auto;
    }

    .tech-title {
      font-size: 2rem;
    }

    .category-title {
      font-size: 1.3rem;
    }
  }

  @media (max-width: 480px) {
    .tech-container {
      padding: 15px;
    }

    .tech-title {
      font-size: 2.8rem;
    }

    .intro-text {
      line-height: 1.2;
      font-size: 1.2rem;
    }

    .equipment-details h3 {
      line-height: 1.2;
      font-size: 1.2rem;
    }

    .equipment-details p{
      line-height: 1.2;
      font-size: 1.2rem;
    }

    .equipment-details ul{
      line-height: 1.2;
      font-size: 1.2rem;
    }

    .equipment-item:nth-child(even) {
      text-align: justify;
    }

    .category-title{
      font-size: 1.4rem;
    }

    .category-section p, ul{
      line-height: 1.2;
      font-size: 1.2rem;
    }

    
  }