.medgel-overview {
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.medgel-overview-title {
  color: #008080;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  text-decoration-color: #ff9201;
  text-underline-offset: 0.7rem;
  text-decoration-thickness: 4px;
}

.medgel-overview-quote-section {
  text-align: center;

  margin: 20px 0;
}

.medgel-overview-quote {
  font-size: 1.5rem;
  font-style: italic;
  color: black;
}

.medgel-overview-quote-author {
  display: block;
  margin-top: 10px;
  color: #ff9201;
  font-weight: bold;
}

.medgel-overview-content-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.medgel-overview-text-section p {
  font-size: clamp(0.9rem, 2vw, 1rem);
}

.medgel-overview-text-section h2 {
  color: #008080;
}

.medgel-overview-text-section {
  max-width: 600px;
  margin-right: 0;
  margin: 0 auto;
}

.medgel-overview-icon-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.medgel-overview-icon {
  width: 300px;
  /* Adjust size as needed */
  height: auto;
}

/* Responsive Design */
@media (min-width: 768px) {
  .medgel-overview-content-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .medgel-overview-text-section {
    max-width: 60%;
  }

  .medgel-overview-icon-section {
    justify-content: flex-end;
  }
}
