.homecard-row {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 2vw;
  padding: 2em;
}

.homecard {
  background-color: #36bfbf;
  border-radius: 15px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 185.25px;
  height: 185.25px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  position: relative;
}

.homecardicon{
  scale: 0.7;
}

.homecardvalue{
  scale: 1.4;
}

.homecard:hover {
  transform: scale(1.05);
}

.homecardicon {
  font-size: 2rem;
}

.homecardvalue {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}

.homecarddescription {
  font-size: 0.9rem;
  margin-top: 5px;
  text-transform: uppercase;
  color: white;
}




@media (max-width: 600px) {
  .homecard-row {
    padding: 0.5rem;
  }
}




/* Mobile View (Max Width: 480px) */
 @media (max-width: 480px) {
  .card-row {
    flex-direction: column; 
     gap: 15px; 
  }

  .card {
    width: 80%; 
    max-width: 9em;
    padding: 20px; 
    height: auto; 
  }

  .icon-style {
    font-size: 1.5rem; 
  }

  .value {
    font-size: 1.2rem;
  }

  .description {
    font-size: 0.75rem;
  }

  .homecard{
    width: 155px;
    height: 155px;
  }
  .homecarddescription{
    scale: 0.8;
  }

  .homecardvalue{
    scale: 0.8;
  }

  
  
}
