.portfolio-container {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.portfolio-title {
  font-size: 2rem;
  font-weight: bold;
  color: #48bbc4;
  margin-bottom: 4rem;
  position: relative;
}

.portfolio-title::after {
  content: '';
  display: block;
  width: 20%;
  height: 2px;
  background-color: #feb47b;
  margin: 1px auto 0;
}

.portfolio-grid {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; /* Space between grid items */
}

/* Add blue transparency overlay */
.portfolio-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 153, 163, 0.5); 
  z-index: 1; /* Place the overlay above the image */
  pointer-events: none; /* Allow interactions with child elements */
}

.portfolio-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: justify;
  height: 150px; 
  background-color: rgba(0, 123, 206, 0.1); 
  transition: transform 0.3s, box-shadow 0.3s;
  border: 1px solid #ddd; 
}

.portfolio-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.portfolio-item h3 {
  position: relative; /* Position text above the overlay */
  font-size: 1.2rem;
  font-weight: 600;
  color: white; /* White text */
  z-index: 2; /* Ensure text is above the overlay */
  margin: 0;
}

.portfolio-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 0; /* Ensure the image is below the overlay */
}

.text-rectangle::before{
  background-color: unset;
}


.text-rectangle {
  border: none;
  display: flex;
  background-color: unset;
  flex-direction: column;
  justify-content:flex-start;
  text-align: left;
  align-items: flex-start;
  color: #0b0a0a; 
  height: auto;
}


.text-rectangle:hover{
  transform: unset;
  box-shadow: unset;
}

.text-rectangle h3 {
  color: #646464;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
}

.text-rectangle h3::after {
  content: '';
  display: block;
  width: 60%;
  height: 4px;
  border-radius: 50px;
  text-align: left;
  background-color: #0D9488;
  margin-bottom: 1px;
  /* margin: 1px auto 0; */
}

.text-rectangle p {
  color: #808080;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}



/* Specific grid item sizes with unique images */
.text-grid{
  grid-column: span 1; 
  grid-row: span 1;
}



.respiratory {
  grid-column: span 1;
  grid-row: span 2;
  height: 400px; 
  background-image: url('../../../public/images/homeRespiratory.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.api {
  grid-column: span 1;
  grid-row: span 1;
  background-image: url('../../../public/images/homeApi.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.hiv {
  grid-column: span 1;
  grid-row: span 2;
  height: 400px; 
  background-color: aquamarine;
  background-image: url('../../../public/images/homeHIV.png');
  background-repeat: no-repeat;
  background-position: -80px;
  background-size:  cover;
}

.oncology {
  grid-column: span 1; /* Wider rectangle */
  grid-row: span 2;
  height: 400px;
  background-image: url('../../../public/images/homeOncology.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.generics {
  grid-column: span 1;
  grid-row: span 1;
  background-image: url('../../../public/images/homeGenerics.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.otc {
  grid-column: span 1;
  grid-row: span 1;
  background-image: url('../../../public/images/homeOTCHealth.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.diagnostics {
  grid-column: span 1;
  grid-row: span 1; /* Taller rectangle */
  background-image: url('../../../public/images/homeDiagonistics.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.other-therapies {
  grid-column: span 1;
  grid-row: span 1;
  background-image: url('../../../public/images/homeOtherTherepies.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr); /* 2-column grid on smaller screens */
  }
}

@media (max-width: 480px) {
  .portfolio-grid {
    grid-template-columns: 1fr; /* Single-column layout */
  }

  .portfolio-item {
    height: 150px; /* Reduce height for smaller screens */
  }

  .portfolio-item{
    background-size: cover;
    height: 300px;
  }

  .text-grid{
    background-color: white;
    height: 120px;
  }

  .hiv{
    background-position: 0px;
    
  }
}
